LOAN APPROVAL PREDICTION


Life cycle of Machine learning Project

    Understanding the Problem Statement
    Data Collection
    Data Checks to perform
    Exploratory data analysis
    Data Pre-Processing
    Model Training
    Choose best model

1. PROBLEM STATEMENT :
 
Determining loan eligibility is a crucial task for banks, requiring the evaluation of multiple factors such as **Marital Status, Education, Applicant Income, and Credit History**. Manual assessment is time-consuming and prone to errors. This project aims to develop a **Machine Learning-based Loan Approval Prediction System** to automate and enhance the accuracy of loan approval decisions, reducing processing time and financial risk.

2. DATA COLLECTION :

The data consist of 13 columns and 1196 rows

2.1 Import data and Required Packages 
Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

Import csv data as pandas Dataframes

In [4]:
df = pd.read_csv('data/loans.csv')
print(df)

       Loan_ID  Gender Married  Dependents     Education Self_Employed  \
0     LP001002    Male      No         0.0      Graduate            No
1     LP001003    Male     Yes         1.0      Graduate            No
2     LP001005    Male     Yes         0.0      Graduate           Yes
3     LP001006    Male     Yes         0.0  Not Graduate            No
4     LP001008    Male      No         0.0      Graduate            No
...        ...     ...     ...         ...           ...           ...
1191  LP002978  Female      No         0.0      Graduate            No
1192  LP002979    Male     Yes         3.0      Graduate            No
1193  LP002983    Male     Yes         1.0      Graduate            No
1194  LP002984    Male     Yes         2.0      Graduate            No
1195  LP002990  Female      No         0.0      Graduate           Yes

      ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0                5849                0.0         NaN             360.0
1                4583             1508.0       128.0             360.0
2                3000                0.0        66.0             360.0
3                2583             2358.0       120.0             360.0
4                6000                0.0       141.0             360.0
...               ...                ...         ...               ...
1191             2900                0.0        71.0             360.0
1192             4106                0.0        40.0             180.0
1193             8072              240.0       253.0             360.0
1194             7583                0.0       187.0             360.0
1195             4583                0.0       133.0             360.0

      Credit_History Property_Area Loan_Status
0                1.0         Urban           Y
1                1.0         Rural           N
2                1.0         Urban           Y
3                1.0         Urban           Y
4                1.0         Urban           Y
...              ...           ...         ...
1191             1.0         Rural           Y
1192             1.0         Rural           Y
1193             1.0         Urban           Y
1194             1.0         Urban           Y
1195             0.0     Semiurban           N

[1196 rows x 13 columns]

Show top 5 record

In [5]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

Show shape of data

In [7]:
df.shape

(1196, 13)

2.2 Datasets  information
i. Loan ID : LP0001002 to LP002990
ii. Gender: male/female
iii. Married: yes/No
iv. Dependents
v. Education: Graduate , NOT
vi. Self_employed: yes/no
vii. Applicant income
viii. CoapplicantIncome
ix. LoanAmount
x. Loan_Amount_term
xi. credit_history
xii. property area
xiii. Loan_status: Y/N

3. Data Checks to perform

3.1 Check missing values

In [8]:
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           24
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           42
Loan_Amount_Term     28
Credit_History       98
Property_Area         0
Loan_Status           0
dtype: int64

treatment of null values

In [9]:
df.dropna(inplace=True)
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2.0,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191,LP002978,Female,No,0.0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
1192,LP002979,Male,Yes,3.0,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
1193,LP002983,Male,Yes,1.0,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
1194,LP002984,Male,Yes,2.0,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
1195,LP002990,Female,No,0.0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [10]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

There are no missing values in the data set

3.2 Check Duplicates

In [13]:
df.duplicated().sum()

np.int64(505)

remove duplicates

In [15]:
df.drop_duplicates(inplace=True)
print(df.shape)
print(df)

(505, 13)
      Loan_ID  Gender Married  Dependents     Education Self_Employed  \
1    LP001003    Male     Yes         1.0      Graduate            No
2    LP001005    Male     Yes         0.0      Graduate           Yes
3    LP001006    Male     Yes         0.0  Not Graduate            No
4    LP001008    Male      No         0.0      Graduate            No
5    LP001011    Male     Yes         2.0      Graduate           Yes
..        ...     ...     ...         ...           ...           ...
603  LP002978  Female      No         0.0      Graduate            No
604  LP002979    Male     Yes         3.0      Graduate            No
605  LP002983    Male     Yes         1.0      Graduate            No
606  LP002984    Male     Yes         2.0      Graduate            No
607  LP002990  Female      No         0.0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
5               5417             4196.0       267.0             360.0
..               ...                ...         ...               ...
603             2900                0.0        71.0             360.0
604             4106                0.0        40.0             180.0
605             8072              240.0       253.0             360.0
606             7583                0.0       187.0             360.0
607             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
5               1.0         Urban           Y
..              ...           ...         ...
603             1.0         Rural           Y
604             1.0         Rural           Y
605             1.0         Urban           Y
606             1.0         Urban           Y
607             0.0     Semiurban           N

[505 rows x 13 columns]

3.3 Check DataTypes

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 505 entries, 1 to 607
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            505 non-null    object
 1   Gender             505 non-null    object
 2   Married            505 non-null    object
 3   Dependents         505 non-null    float64
 4   Education          505 non-null    object
 5   Self_Employed      505 non-null    object
 6   ApplicantIncome    505 non-null    int64
 7   CoapplicantIncome  505 non-null    float64
 8   LoanAmount         505 non-null    float64
 9   Loan_Amount_Term   505 non-null    float64
 10  Credit_History     505 non-null    float64
 11  Property_Area      505 non-null    object
 12  Loan_Status        505 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 55.2+ KB

3.4 Checking the number of unique values of each column

In [17]:
df.nunique()

Loan_ID              505
Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      421
CoapplicantIncome    240
LoanAmount           190
Loan_Amount_Term       9
Credit_History         2
Property_Area          3
Loan_Status            2
dtype: int64

3.5 Check Statistic of Dataset

In [18]:
df.describe()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,505.000000,505.000000,505.000000,505.000000,505.000000,505.000000
mean,0.772277,5411.427723,1562.978059,144.566337,341.869307,0.859406
std,1.016542,6127.874416,2564.980770,81.306177,64.900341,0.347947
min,0.000000,150.000000,0.000000,9.000000,36.000000,0.000000
25%,0.000000,2895.000000,0.000000,100.000000,360.000000,1.000000
50%,0.000000,3833.000000,1126.000000,128.000000,360.000000,1.000000
75%,2.000000,5818.000000,2253.000000,167.000000,360.000000,1.000000
max,3.000000,81000.000000,33837.000000,600.000000,480.000000,1.000000

3.6 Exploring Data

In [19]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2.0,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

Loan_ID is completely unique and not correlated with any of the other column. so drop it

In [ ]:
# Dropping Loan_ID column
df.drop(['Loan_ID'],axis=1,inplace=True)

In [24]:
print(df)

     Gender Married  Dependents     Education Self_Employed  ApplicantIncome  \
1      Male     Yes         1.0      Graduate            No             4583
2      Male     Yes         0.0      Graduate           Yes             3000
3      Male     Yes         0.0  Not Graduate            No             2583
4      Male      No         0.0      Graduate            No             6000
5      Male     Yes         2.0      Graduate           Yes             5417
..      ...     ...         ...           ...           ...              ...
603  Female      No         0.0      Graduate            No             2900
604    Male     Yes         3.0      Graduate            No             4106
605    Male     Yes         1.0      Graduate            No             8072
606    Male     Yes         2.0      Graduate            No             7583
607  Female      No         0.0      Graduate           Yes             4583

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
1               1508.0       128.0             360.0             1.0
2                  0.0        66.0             360.0             1.0
3               2358.0       120.0             360.0             1.0
4                  0.0       141.0             360.0             1.0
5               4196.0       267.0             360.0             1.0
..                 ...         ...               ...             ...
603                0.0        71.0             360.0             1.0
604                0.0        40.0             180.0             1.0
605              240.0       253.0             360.0             1.0
606                0.0       187.0             360.0             1.0
607                0.0       133.0             360.0             0.0

    Property_Area Loan_Status
1           Rural           N
2           Urban           Y
3           Urban           Y
4           Urban           Y
5           Urban           Y
..            ...         ...
603         Rural           Y
604         Rural           Y
605         Urban           Y
606         Urban           Y
607     Semiurban           N

[505 rows x 12 columns]