## MODEL TRAINING

As this is a classification problem so we will be using these models : 

    KNeighborsClassifiers
    RandomForestClassifiers
    Support Vector Classifiers (SVC)
    Logistics Regression

To predict the accuracy use the accuracy score function from scikit-learn library.

1.1 Import Data and Required Packages

importing Pandas,Numpy,Matplotlib,Seaborn and Warnings Library.

In [31]:
#%pip install catboost

In [32]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
#from catboost import CatBoostRegressor
#from xgboost import XGBRegressor 
import warnings

Import the CSV Data as pandas Dataframe

In [33]:
df = pd.read_csv('data/loans.csv')
print(df)

       Loan_ID  Gender Married  Dependents     Education Self_Employed  \
0     LP001002    Male      No         0.0      Graduate            No
1     LP001003    Male     Yes         1.0      Graduate            No
2     LP001005    Male     Yes         0.0      Graduate           Yes
3     LP001006    Male     Yes         0.0  Not Graduate            No
4     LP001008    Male      No         0.0      Graduate            No
...        ...     ...     ...         ...           ...           ...
1191  LP002978  Female      No         0.0      Graduate            No
1192  LP002979    Male     Yes         3.0      Graduate            No
1193  LP002983    Male     Yes         1.0      Graduate            No
1194  LP002984    Male     Yes         2.0      Graduate            No
1195  LP002990  Female      No         0.0      Graduate           Yes

      ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0                5849                0.0         NaN             360.0
1                4583             1508.0       128.0             360.0
2                3000                0.0        66.0             360.0
3                2583             2358.0       120.0             360.0
4                6000                0.0       141.0             360.0
...               ...                ...         ...               ...
1191             2900                0.0        71.0             360.0
1192             4106                0.0        40.0             180.0
1193             8072              240.0       253.0             360.0
1194             7583                0.0       187.0             360.0
1195             4583                0.0       133.0             360.0

      Credit_History Property_Area Loan_Status
0                1.0         Urban           Y
1                1.0         Rural           N
2                1.0         Urban           Y
3                1.0         Urban           Y
4                1.0         Urban           Y
...              ...           ...         ...
1191             1.0         Rural           Y
1192             1.0         Rural           Y
1193             1.0         Urban           Y
1194             1.0         Urban           Y
1195             0.0     Semiurban           N

[1196 rows x 13 columns]

Show top 5 record

In [34]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1196 entries, 0 to 1195
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            1196 non-null   object
 1   Gender             1196 non-null   object
 2   Married            1196 non-null   object
 3   Dependents         1172 non-null   float64
 4   Education          1196 non-null   object
 5   Self_Employed      1196 non-null   object
 6   ApplicantIncome    1196 non-null   int64
 7   CoapplicantIncome  1196 non-null   float64
 8   LoanAmount         1154 non-null   float64
 9   Loan_Amount_Term   1168 non-null   float64
 10  Credit_History     1098 non-null   float64
 11  Property_Area      1196 non-null   object
 12  Loan_Status        1196 non-null   object
dtypes: float64(5), int64(1), object(7)
memory usage: 121.6+ KB

In [46]:
# Dropping Loan_ID column
df.drop(['Loan_ID'],axis=1,inplace=True)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1196 entries, 0 to 1195
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             1196 non-null   object
 1   Married            1196 non-null   object
 2   Dependents         1172 non-null   float64
 3   Education          1196 non-null   object
 4   Self_Employed      1196 non-null   object
 5   ApplicantIncome    1196 non-null   int64
 6   CoapplicantIncome  1196 non-null   float64
 7   LoanAmount         1154 non-null   float64
 8   Loan_Amount_Term   1168 non-null   float64
 9   Credit_History     1098 non-null   float64
 10  Property_Area      1196 non-null   object
 11  Loan_Status        1196 non-null   object
dtypes: float64(5), int64(1), object(6)
memory usage: 112.3+ KB

In [65]:
#Perform Encoding on Categorical feature: Gender
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Gender']=le.fit_transform(df['Gender'])
print(df)

df['Married']=le.fit_transform(df['Married'])
print(df)

df['Education']=le.fit_transform(df['Education'])
print(df)

df['Property_Area']=le.fit_transform(df['Property_Area'])
print(df)

df['Loan_Status']=le.fit_transform(df['Loan_Status'])
print(df)

      Gender  Married  Dependents  Education  Self_Employed  ApplicantIncome  \
1          1        1         1.0          0              0             4583
2          1        1         0.0          0              1             3000
3          1        1         0.0          1              0             2583
4          1        0         0.0          0              0             6000
5          1        1         2.0          0              1             5417
...      ...      ...         ...        ...            ...              ...
1191       0        0         0.0          0              0             2900
1192       1        1         3.0          0              0             4106
1193       1        1         1.0          0              0             8072
1194       1        1         2.0          0              0             7583
1195       0        0         0.0          0              1             4583

      CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
1                1508.0       128.0             360.0             1.0
2                   0.0        66.0             360.0             1.0
3                2358.0       120.0             360.0             1.0
4                   0.0       141.0             360.0             1.0
5                4196.0       267.0             360.0             1.0
...                 ...         ...               ...             ...
1191                0.0        71.0             360.0             1.0
1192                0.0        40.0             180.0             1.0
1193              240.0       253.0             360.0             1.0
1194                0.0       187.0             360.0             1.0
1195                0.0       133.0             360.0             0.0

      Property_Area  Loan_Status
1                 0            0
2                 2            1
3                 2            1
4                 2            1
5                 2            1
...             ...          ...
1191              0            1
1192              0            1
1193              2            1
1194              2            1
1195              1            0

[1010 rows x 12 columns]
      Gender  Married  Dependents  Education  Self_Employed  ApplicantIncome  \
1          1        1         1.0          0              0             4583
2          1        1         0.0          0              1             3000
3          1        1         0.0          1              0             2583
4          1        0         0.0          0              0             6000
5          1        1         2.0          0              1             5417
...      ...      ...         ...        ...            ...              ...
1191       0        0         0.0          0              0             2900
1192       1        1         3.0          0              0             4106
1193       1        1         1.0          0              0             8072
1194       1        1         2.0          0              0             7583
1195       0        0         0.0          0              1             4583

      CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
1                1508.0       128.0             360.0             1.0
2                   0.0        66.0             360.0             1.0
3                2358.0       120.0             360.0             1.0
4                   0.0       141.0             360.0             1.0
5                4196.0       267.0             360.0             1.0
...                 ...         ...               ...             ...
1191                0.0        71.0             360.0             1.0
1192                0.0        40.0             180.0             1.0
1193              240.0       253.0             360.0             1.0
1194                0.0       187.0             360.0             1.0
1195                0.0       133.0             360.0             0.0

      Property_Area  Loan_Status
1                 0            0
2                 2            1
3                 2            1
4                 2            1
5                 2            1
...             ...          ...
1191              0            1
1192              0            1
1193              2            1
1194              2            1
1195              1            0

[1010 rows x 12 columns]
      Gender  Married  Dependents  Education  Self_Employed  ApplicantIncome  \
1          1        1         1.0          0              0             4583
2          1        1         0.0          0              1             3000
3          1        1         0.0          1              0             2583
4          1        0         0.0          0              0             6000
5          1        1         2.0          0              1             5417
...      ...      ...         ...        ...            ...              ...
1191       0        0         0.0          0              0             2900
1192       1        1         3.0          0              0             4106
1193       1        1         1.0          0              0             8072
1194       1        1         2.0          0              0             7583
1195       0        0         0.0          0              1             4583

      CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
1                1508.0       128.0             360.0             1.0
2                   0.0        66.0             360.0             1.0
3                2358.0       120.0             360.0             1.0
4                   0.0       141.0             360.0             1.0
5                4196.0       267.0             360.0             1.0
...                 ...         ...               ...             ...
1191                0.0        71.0             360.0             1.0
1192                0.0        40.0             180.0             1.0
1193              240.0       253.0             360.0             1.0
1194                0.0       187.0             360.0             1.0
1195                0.0       133.0             360.0             0.0

      Property_Area  Loan_Status
1                 0            0
2                 2            1
3                 2            1
4                 2            1
5                 2            1
...             ...          ...
1191              0            1
1192              0            1
1193              2            1
1194              2            1
1195              1            0

[1010 rows x 12 columns]
      Gender  Married  Dependents  Education  Self_Employed  ApplicantIncome  \
1          1        1         1.0          0              0             4583
2          1        1         0.0          0              1             3000
3          1        1         0.0          1              0             2583
4          1        0         0.0          0              0             6000
5          1        1         2.0          0              1             5417
...      ...      ...         ...        ...            ...              ...
1191       0        0         0.0          0              0             2900
1192       1        1         3.0          0              0             4106
1193       1        1         1.0          0              0             8072
1194       1        1         2.0          0              0             7583
1195       0        0         0.0          0              1             4583

      CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
1                1508.0       128.0             360.0             1.0
2                   0.0        66.0             360.0             1.0
3                2358.0       120.0             360.0             1.0
4                   0.0       141.0             360.0             1.0
5                4196.0       267.0             360.0             1.0
...                 ...         ...               ...             ...
1191                0.0        71.0             360.0             1.0
1192                0.0        40.0             180.0             1.0
1193              240.0       253.0             360.0             1.0
1194                0.0       187.0             360.0             1.0
1195                0.0       133.0             360.0             0.0

      Property_Area  Loan_Status
1                 0            0
2                 2            1
3                 2            1
4                 2            1
5                 2            1
...             ...          ...
1191              0            1
1192              0            1
1193              2            1
1194              2            1
1195              1            0

[1010 rows x 12 columns]
      Gender  Married  Dependents  Education  Self_Employed  ApplicantIncome  \
1          1        1         1.0          0              0             4583
2          1        1         0.0          0              1             3000
3          1        1         0.0          1              0             2583
4          1        0         0.0          0              0             6000
5          1        1         2.0          0              1             5417
...      ...      ...         ...        ...            ...              ...
1191       0        0         0.0          0              0             2900
1192       1        1         3.0          0              0             4106
1193       1        1         1.0          0              0             8072
1194       1        1         2.0          0              0             7583
1195       0        0         0.0          0              1             4583

      CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
1                1508.0       128.0             360.0             1.0
2                   0.0        66.0             360.0             1.0
3                2358.0       120.0             360.0             1.0
4                   0.0       141.0             360.0             1.0
5                4196.0       267.0             360.0             1.0
...                 ...         ...               ...             ...
1191                0.0        71.0             360.0             1.0
1192                0.0        40.0             180.0             1.0
1193              240.0       253.0             360.0             1.0
1194                0.0       187.0             360.0             1.0
1195                0.0       133.0             360.0             0.0

      Property_Area  Loan_Status
1                 0            0
2                 2            1
3                 2            1
4                 2            1
5                 2            1
...             ...          ...
1191              0            1
1192              0            1
1193              2            1
1194              2            1
1195              1            0

[1010 rows x 12 columns]

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1010 entries, 1 to 1195
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             1010 non-null   int64
 1   Married            1010 non-null   int64
 2   Dependents         1010 non-null   float64
 3   Education          1010 non-null   int64
 4   Self_Employed      1010 non-null   int64
 5   ApplicantIncome    1010 non-null   int64
 6   CoapplicantIncome  1010 non-null   float64
 7   LoanAmount         1010 non-null   float64
 8   Loan_Amount_Term   1010 non-null   float64
 9   Credit_History     1010 non-null   float64
 10  Property_Area      1010 non-null   int64
 11  Loan_Status        1010 non-null   int64
dtypes: float64(5), int64(7)
memory usage: 102.6 KB

In [67]:
# To find the number of columns with 
# datatype==object
obj = (df.dtypes == 'object')
print("Categorical variables:",len(list(obj[obj].index)))

Categorical variables: 0

In [68]:
#null values
df.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [56]:
#treatment of null
df.dropna(inplace=True)
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1.0,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0.0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,1,1,0.0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,1,0,0.0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,1,1,2.0,0,1,5417,4196.0,267.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1191,0,0,0.0,0,0,2900,0.0,71.0,360.0,1.0,0,1
1192,1,1,3.0,0,0,4106,0.0,40.0,180.0,1.0,0,1
1193,1,1,1.0,0,0,8072,240.0,253.0,360.0,1.0,2,1
1194,1,1,2.0,0,0,7583,0.0,187.0,360.0,1.0,2,1
1195,0,0,0.0,0,1,4583,0.0,133.0,360.0,0.0,1,0

In [69]:
df.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

Preparing X and Y variables

In [70]:
X = df.drop(['Loan_Status'],axis=1)

In [71]:
X.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1.0,0,0,4583,1508.0,128.0,360.0,1.0,0
2,1,1,0.0,0,1,3000,0.0,66.0,360.0,1.0,2
3,1,1,0.0,1,0,2583,2358.0,120.0,360.0,1.0,2
4,1,0,0.0,0,0,6000,0.0,141.0,360.0,1.0,2
5,1,1,2.0,0,1,5417,4196.0,267.0,360.0,1.0,2

In [72]:
Y = df['Loan_Status']

In [73]:
X.shape,Y.shape

((1010, 11), (1010,))

Separate dataset into train and test

In [74]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y,  test_size=0.4,random_state=42)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((606, 11), (404, 11), (606,), (404,))

In [75]:
X_train.dtypes

Gender                 int64
Married                int64
Dependents           float64
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
dtype: object

Model Training & Evalutaion

As this is a classification problem so we will be use these models : 

    KNeighborsClassifiers
    RandomForestClassifiers
    Support Vector Classifiers (SVC)
    Logistics Regression

In [76]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

from sklearn import metrics

knn = KNeighborsClassifier(n_neighbors=3)
rfc = RandomForestClassifier(n_estimators = 7,
                             criterion = 'entropy',
                             random_state =7)
svc = SVC()
lc = LogisticRegression()

# making predictions on the training set
for clf in (rfc, knn, svc,lc):
    clf.fit(X_train, Y_train)
    Y_pred = clf.predict(X_train)
    print("Accuracy score of ",
          clf.__class__.__name__,
          "=",100*metrics.accuracy_score(Y_train, 
                                         Y_pred))

Accuracy score of  RandomForestClassifier = 98.84488448844884
Accuracy score of  KNeighborsClassifier = 88.44884488448845
Accuracy score of  SVC = 72.44224422442245
Accuracy score of  LogisticRegression = 82.01320132013201

/home/disha-soni/miniconda3/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(