## MODEL TRAINING

As this is a classification problem so we will be using these models : 

    KNeighborsClassifiers
    RandomForestClassifiers
    Support Vector Classifiers (SVC)
    Logistics Regression

To predict the accuracy use the accuracy score function from scikit-learn library.

1.1 Import Data and Required Packages

importing Pandas,Numpy,Matplotlib,Seaborn and Warnings Library.

In [31]:
#%pip install catboost

In [32]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
#from catboost import CatBoostRegressor
#from xgboost import XGBRegressor 
import warnings

Import the CSV Data as pandas Dataframe

In [33]:
df = pd.read_csv('data/loans.csv')
print(df)

       Loan_ID  Gender Married  Dependents     Education Self_Employed  \
0     LP001002    Male      No         0.0      Graduate            No
1     LP001003    Male     Yes         1.0      Graduate            No
2     LP001005    Male     Yes         0.0      Graduate           Yes
3     LP001006    Male     Yes         0.0  Not Graduate            No
4     LP001008    Male      No         0.0      Graduate            No
...        ...     ...     ...         ...           ...           ...
1191  LP002978  Female      No         0.0      Graduate            No
1192  LP002979    Male     Yes         3.0      Graduate            No
1193  LP002983    Male     Yes         1.0      Graduate            No
1194  LP002984    Male     Yes         2.0      Graduate            No
1195  LP002990  Female      No         0.0      Graduate           Yes

      ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0                5849                0.0         NaN             360.0
1                4583             1508.0       128.0             360.0
2                3000                0.0        66.0             360.0
3                2583             2358.0       120.0             360.0
4                6000                0.0       141.0             360.0
...               ...                ...         ...               ...
1191             2900                0.0        71.0             360.0
1192             4106                0.0        40.0             180.0
1193             8072              240.0       253.0             360.0
1194             7583                0.0       187.0             360.0
1195             4583                0.0       133.0             360.0

      Credit_History Property_Area Loan_Status
0                1.0         Urban           Y
1                1.0         Rural           N
2                1.0         Urban           Y
3                1.0         Urban           Y
4                1.0         Urban           Y
...              ...           ...         ...
1191             1.0         Rural           Y
1192             1.0         Rural           Y
1193             1.0         Urban           Y
1194             1.0         Urban           Y
1195             0.0     Semiurban           N

[1196 rows x 13 columns]

Show top 5 record

In [34]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

Preparing X and Y variables

In [35]:
X = df.drop(['Loan_Status'],axis=1)

In [36]:
X.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban

In [37]:
Y = df['Loan_Status']

In [38]:
X.shape,Y.shape

((1196, 12), (1196,))

In [39]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y,  test_size=0.4,random_state=1)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((717, 12), (479, 12), (717,), (479,))

Model Training & Evalutaion